.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th sender
        %th body
        %th time ago
        %th answer to message
    %tbody
      - @messages.each do |message|
        %tr
          %td= message.sender.name
          %td= message.body
          %td= time_ago_in_words(message.created_at)
          %td= link_to 'Answer to message', message_path(message.sender, read: true)
%br
  = link_to 'Update List', '', class: 'btn btn-primary', id: 'update_unread_count'

:javascript
  $(function() {
    $(document).ready(function() {
      setInterval(function() {
        $.ajax({
          url: "/messages",
          type: "GET",
          dataType: "script"
        });
      }, 600000);
    });
  });