= form_for @message, html: { class: "form-horizontal", role: "form" } do |f|
  -if @message.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"

      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :body, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :body, class: 'form-control'
  .form-group
    = f.label 'Select User', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :recipient_id, User.all_except(current_user).not_banned.collect {|p| [ p.name, p.id ] }, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'

