= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, 'error')
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |user|
          %li= user
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label 'Set default password'
    = f.check_box :default_password, {id: 'default_pass_check_box'}, true, false
  .field.user-password-field
    = f.label :password
    = f.password_field :password
  .field
    = f.label 'Ban'
    = f.check_box :banned
  .actions
    = f.submit 'Save'
