.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th name
        %th banned?
        %th
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.banned
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New user', new_user_path
