- if user_signed_in?
  - if @unread_message_count > 0
    Hi, you have
    = link_to "#{@unread_message_count} unread messages", messages_path
  - else
    You don't have new messages
  %br/
  = link_to 'Write New Message', new_message_path
- else
  Please log in