%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      - if user_signed_in? || admin_signed_in?
        - if user_signed_in?
          %ul.nav.navbar-nav
            %li
              = link_to 'Edit profile',  edit_user_path(current_user)
            %li
              = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar-nav
            %li
              = link_to 'Log out', destroy_admin_session_path, method: :delete
      - else
        %ul.nav.navbar-nav
          %li
            = link_to 'Log in as user', new_user_session_path
          %li
            = link_to 'Log in as admin', new_admin_session_path
